{% load staticfiles %}

<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ context.title }}</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    {% include "app/styles.html" %}

    {% block styles2 %}
    {% endblock %}

</head>

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    {% include "app/header.html" %}

    {% include "app/sidebar.html" %}

    <div class="content-wrapper">
        {% csrf_token %}
        {% block content_wrapper %}
        {% endblock %}
    </div>

    {% include "app/footer.html" %}

    {% include "app/controlSidebar.html" %}
</div>

{% include "app/plugins.html" %}

{% block js_plugins2 %}
{% endblock %}

</body>
</html>
